<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
        <div class="container">
        <div class="jumbotron text-center">
            <h1 align = "center"><strong>Mission to Mars</strong></h1>
                <p align = "center">
                    <a class="btn btn-primary btn lg" href="{{ url_for('scraper') }}" role="button">Scrape New Data</a>
                </p>
        </div>
        </div>
     <div class = "row">
        <div class="col-md-12">
             <h3>Latest Mars News</h3>
              <h5>{{mars_data.news_title}}</h5>
             <p>{{mars_data.news_paragraph}}</p>
             <br>            
        </div>
     </div>
     <div class = "row">
        <div class = "col-md-8">
            <h3>Featured Mars Image</h3>
            <img src="{{ mars_data.featured_image_url}}" style ="float:left"/>
        </div>
        <div class = "col-md-4">
            <h4> Current Weather on Mars </h4>
            <p>{{ mars_data.latest_weather}}</p>
            <br>
            <h4> Mars Facts </h4>
            <p>{{mars_data.mars_html_table}}</p>
        </div>
        <div class ="row" >
        <div class = "col-md-12">
            <h3><b><center>Mars Hemispheres</center></b></h3> 
            {% for hemisphere in mars_data.hemisphere_img_urls %}
                <div class = "col-md-6">
                    <img src = "{{hemisphere.img_url}}">
                    <h3>{{hemisphere.Title}}</h3>
                </div>
            {% endfor %}
         </div>
         </div>
</body>
</html>
